.vertical-center {
	min-height: 90%;
	min-height: 90vh;

	display: flex;
	align-items: center;
}

.container {
	min-height: 90%;
	min-height: 90vh;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.blue {
	background-color: #4889fa;
}

.light-gray {
	background-color: #cbcbcb;
}

.lighter-gray {
	background-color: #f3f3f3;
}

.dark-gray {
	background-color: #616161;
}

.modal-body p {
	word-wrap: break-word;
}
