.vertical-center {
	min-height: 90%;
	min-height: 90vh;

	display: flex;
	align-items: center;
}

.container {
	min-height: 90%;
	min-height: 90vh;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.blue {
	background-color: #4889fa;
}

.light-gray {
	background-color: #cbcbcb;
}

.lighter-gray {
	background-color: #f3f3f3;
}

.dark-gray {
	background-color: #616161;
}

.dark-gray-text {
	color: #616161;
}

.modal-body p {
	word-wrap: break-word;
}

#hero {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(../images/marvin-meyer-SYTO3xs06fU-unsplash.jpg) no-repeat fixed center;
	background-size: cover;
}

#brand {
	border: 10px solid #f3f3f3;
	padding: 0 0.25em;
	margin: 150px auto;
	font-size: 2em;
	font-weight: bold;
	color: #f3f3f3;
	z-index: 2;
}
