{% extends "base.html" %}

{% block title %}
<title>Robert Morgan | Portfolio</title>
{% endblock %}

{% block main %}
<main>

    <!-- use bootstrap scroll spy and find a smooth scrolling plugin -->

    <div class="container-fluid">
        <div class="row" id="hero">
            <div class="content-wrapper">
                <a class="uppercase" id="brand">Robert Morgan</a>
                <p class="tag-line">Full Stack Engineer</p>
                <div class="col-sm-4 mx-auto mb-3 social-icon-container">
                    <!-- social media icons (github, linkedin) -->
                    <span>
                        <a href="https://github.com/dancingCamel/">
                            <div class="social-icon"><img src="../static/images/github.svg" width="40px"></div>
                        </a>
                    </span>
                    <span>
                        <a href="https://www.linkedin.com/in/robert-morgan-5b5a6856/">
                            <div class="social-icon"><img src="../static/images/linkedin.svg" width="40px"></div>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="title-wrapper mx-auto mt-3 mb-3">
                <h1 class="dark-gray-text" id="about"><em>About Me</em></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>I am an experienced software engineer who is used to working in a highly competitive and fast-paced
                    services
                    business. I'm skilled in HTML, CSS, Javascript (certificated by Microsoft 70-480 exam) and Python
                    - among others. I am a passionate programmer and a problem solver, with a Master's degree in
                    Chemistry from Edinburgh University.</p>
            </div>
        </div>
        <div class="row">
            <div class="title-wrapper mx-auto mt-3 mb-3">
                <h1 class="dark-gray-text" id="skills"><em>Skills</em></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-6 text-center">
                <div>
                    <img src="/static/images/icons/js.png" class="skills-icon" alt="">
                    <p class="mb-2">
                        JavaScript
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 text-center">
                <div>
                    <img src="/static/images/icons/css.png" class="skills-icon" alt="">
                    <p class="mb-2">
                        CSS
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 text-center">
                <div>
                    <img src="/static/images/icons/bootstrap.png" class="skills-icon" alt="">
                    <p class="mb-2">
                        Bootstrap
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 text-center">
                <div>
                    <img src="/static/images/icons/php.png" class="skills-icon" alt="">
                    <p class="mb-2">
                        PHP
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 text-center">
                <div>
                    <img src="/static/images/icons/python.png" class="skills-icon" alt="">
                    <p class="mb-2">
                        Python
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 text-center">
                <div>
                    <img src="/static/images/icons/git.png" class="skills-icon" alt="">
                    <p class="mb-2">
                        Git
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 text-center">
                <div>
                    <img src="/static/images/icons/nodejs.png" class="skills-icon" alt="">
                    <p class="mb-2">
                        NodeJS
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 text-center">
                <div>
                    <img src="/static/images/icons/react.png" class="skills-icon" alt="">
                    <p class="mb-2">
                        React
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="title-wrapper mx-auto mt-3 mb-3">
                <h1 class="dark-gray-text" id="projects"><em>Projects</em></h1>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4" id="project-card-area">
            <!-- Cards added here dynamically -->
        </div>

        <div id="modal-area">
            <!-- Modals added dynamically -->
        </div>

    </div>



    </div>
</main>

{% endblock %}

{% block script %}
<script>

    $(function () {

        $('.scrollspy').smoothScroll();

    });

    fetch('/projects').then(function (response) {
        return response.json();
    }).then(function (json) {
        results = json;

        results['projects'].forEach(project => {

            var tempTags = [];
            project['tags'] = project['tags'].split(',');
            project['tags'].forEach(element => {
                tempTags.push(element.trim());
            });
            project['tags'] = tempTags;

            var tempChallenges = [];
            project['challenges'] = project['challenges'].split(',');
            project['challenges'].forEach(element => {
                tempChallenges.push(element.trim());
            });
            project['challenges'] = tempChallenges;

            var uniqueId = makeId(project['title'])

            var card = document.createElement("div");
            card.innerHTML = makeCard(uniqueId, project);
            document.querySelector('#project-card-area').appendChild(card);


            var modal = document.createElement("div");
            modal.innerHTML = makeModal(uniqueId, project);
            document.querySelector('#modal-area').appendChild(modal);

        });

    }).catch(function (err) {
        console.log('Error getting projects: ' + err.message);
    });




//     <div class="row">
//     <div class="col-sm-4 mx-auto mb-3">
//         <!-- social media icons (github, linkedin) -->
//         <div class="row">
//             <div class="col-sm-4">
//                 <a href="#">
//                     <div class="social-icon"><img src="../static/images/github.svg"></div>
//                 </a>
//             </div>
//             <div class="col-sm-4 ml-auto">
//                 <a href="#">
//                     <div class="social-icon"><img src="../static/images/linkedin.svg"></div>
//                 </a>
//             </div>
//         </div>
//     </div>
// </div>

</script>
{% endblock %}